# Ignore specific folders
History/
/Project Logs for 300w boost converter/
/Project Logs for 300w boost converter/
/Project Outputs for 300w boost converter/
/Project Outputs for Free Documents/
__Previews/